annotated-types
anyio
appnope
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
certifi
charset-normalizer
click
decorator
defusedxml
distro
Django
django-createsuperuserwithpassword
docopt
exceptiongroup
executing
fastjsonschema
Flask
h11
httpcore
httpx
idna
importlib_metadata
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
numpy
openai
opencv-python
packaging
pandocfilters
parso
pexpect
pickleshare
pipreqs
platformdirs
prompt_toolkit
psycopg2-binary
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
pytz
pyzmq
referencing
requests
rpds-py
sentry-sdk
simplejson
sniffio
soupsieve
sqlparse
stack-data
tinycss2
tornado
tqdm
traitlets
typing_extensions
urllib3
watchdog
wcwidth
webencodings
Werkzeug
yarg
zipp